<h1><%= @recipe.title %></h1>
<div class="container-fluid">
  <h5>Tipo:</h5>
  <p><%= @recipe.category %></p>

  <h5>Text:</h5>
  <p><%= simple_format @recipe.text %></p>

	<div class="row">
		<%= link_to 'Volver', recipes_path %>
	</div>
</div>