<div class="container-fluid">
	<h1>Nueva receta</h1>

	<div class="row">
	  <h5>Tipo:</h5>
	  <%= @recipe.category %>
	</div>

	<div class="row">
	  <h5>Titlo:</h5>
	  <%= @recipe.title %>
	</div>
	 
	<div class="row">
	  <h5>Text:</h5>
	  <%= @recipe.text %>
	</div>

	<div class="row">
		<%= link_to 'Volver', recipes_path %>
	</div>
</div>