<p>
  <strong>Tipo:</strong>
  <%= @recipe.category %>
</p>

<p>
  <strong>Titlo:</strong>
  <%= @recipe.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @recipe.text %>
</p>

<%= link_to 'Volver', recipes_path %>